---
- name: install sway dependencies
  community.general.pacman:
    name: ['sway','wayland','wayland-protocols','wayland-utils','wayvnc','waylandpp','xdg-desktop-portal-wlr','xorg-xwayland']
  retries: 6
  become: True

- name: install tools for sway
  become: True
  community.general.pacman:
    name: ['swayimg','swaybg','grim','slurp','swayidle','swaylock','wl-clipboard','wmctrl','wofi','wev','wf-recorder','wtype']
  retries: 6

- name: Installing grimshot and sway-contrib
  community.general.pacman:
    name: sway-contrib
  become: yes
  retries: 6
  tags: grimshot

- name: install wlr-randr
  community.general.pacman:
    name: wlr-randr
  tags: wlr-randr
  retries: 6
  become: True


