---
- name: install tmux
  community.general.pacman:
    name: tmux
  become: True
  retries: 6
  tags: tmux
  

- name: install fzf
  community.general.pacman:
    name: fzf
  become: True
  retries: 6
  tags: fzf

- name: install picom
  community.general.pacman:
    name: picom
  retries: 6
  become: True
  tags: picom

- name: install i3
  community.general.pacman:
    name: ["i3-wm","i3blocks","i3lock","i3status"]
  retries: 6
  become: True
  tags: i3
    
 
- name: install dunst
  community.general.pacman:
    name: dunst
  retries: 6
  become: True
  tags: dunst

- name: install pipewire
  community.general.pacman:
    name: ["pipewire","pipewire-alsa","wireplumber","pipewire-pulse","alsa-utils","pipewire-jack"]
  retries: 6
  become: True
  tags: audio

- name: install obs-studio
  community.general.pacman:
    name: obs-studio
  retries: 6
  become: true
  tags: obs

- name: install amd graphics
  community.general.pacman:
    name: ["vulkan-radeon","xf86-video-ati","xorg-xinit","mesa","xf86-video-amdgpu","xorg-server","lib32-vulkan-radeon","libva-utils"]
  retries: 6
  become: True
  tags: graphics


- name: install budgie
  community.general.pacman:
    name: ["materia-gtk-theme","mate-terminal","papirus-icon-theme","wireless_tools","budgie-desktop","budgie-desktop-view","budgie-backgrounds","network-manager-applet","blueman","nano","smartmontools","wpa_supplicant","htop","iwd","nemo","xdg-utils","openssh","wget"]
  retries: 6
  become: True
  tags: budgie

- name: install polybor
  import_tasks: polybar.yml
  tags: backlight

- name: install zsh-shell
  import_tasks: zsh.yml
  tags: zsh

- name: install zsh-defer
  import_tasks: zsh-defer.yml
  tags: zsh-defer

- name: install powerlevel10k theme
  import_tasks: powerlevel10k.yml
  tags: shell-theme

- name: install zsh suggestions
  import_tasks: git_suggestions.yml
  tags: suggestions-zsh

- name: install xdg-desktop-termfilechooser
  import_tasks: xdg-desktop-termfilechooser.yml
  tags: termfilechooser

- name: make user bin directory
  file:
    path: $HOME/usr/bin
    state: directory

- name: install hotpsot
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/garywill/linux-router/master/lnxrouter
    dest: ~/usr/bin/router
    mode: '0750'
  tags: hotspot
  retries: 3
