---
- name: Installing xdg-desktop-portal-termfilechooser-boydaihungst-git
  kewlfft.aur.aur:
    name: xdg-desktop-portal-termfilechooser-boydaihungst-git
    state: present
    use: yay
    extra_args: --noconfirm
  become: yes
  become_user: aur_builder
  retries: 6

# https://github.com/hunkyburrito/xdg-desktop-portal-termfilechooser
# https://github.com/boydaihungst/xdg-desktop-portal-termfilechooser
