---
- name: Enable services
  import_tasks: enable.yml
  tags: enable-systemd

- name: Disable services
  import_tasks: disable.yml
  tags: disable-systemd

- name: Blacklist modules
  shell: |
    echo "blacklist snd_hda_codec_hdmi" >> /etc/modprobe.d/blacklist.conf
    echo "blacklist btusb" >> /etc/modprobe.d/blacklist.conf
    echo "blacklist bluetooth" >> /etc/modprobe.d/blacklist.conf
    echo "blacklist uvcvideo" >> /etc/modprobe.d/blacklist.conf
  become: yes
  tags: blacklist_modules

- name: Remove the user 'aur_builder'
  ansible.builtin.user:
    name: aur_builder
    state: absent
    remove: yes
  tags: remove_aur_builder

- name: Remove the sudoers rule for aur_builder
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    state: absent
    validate: 'visudo -cf %s'
  tags: remove_sudo_line

