---
- name: install docker dependencies
  community.general.pacman:
    name: [ "docker","docker-compose" ]
  retries: 6
  become: yes

- name: Ensure group "docker" exists
  group:
    name: docker
    state: present

- name: Add to docker
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true

- name: Remove the sudoers rule for aur_builder
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    state: absent
    validate: 'visudo -cf %s'
  tags: remove_line
